.fullNames{
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    color: darkolivegreen
}
a {
    text-decoration: none;
    cursor: alias;
    color: rgba(52, 38, 114, 0.767)
}
a :hover{
    color: blue;
}